[submodule "extensions/ecmasl-vim"]
	path = extensions/ecmasl-vim
	url = https://github.com/wasp-platform/ecmasl-vim
[submodule "bench/test262"]
	path = bench/test262
	url = git@github.com:formalsec/test262.git
