pin-depends: [
  [ "encoding.dev" "git+https://github.com/formalsec/encoding#22bb36bd868f432e65b2f8fc5a191fe940e00743"]
  [ "instrumentation2.dev" "git+https://github.com/formalsec/instrumentation2.git" ]
]
