body {
  font-family: monospace;
  background: #111;
  color: #fff;
  margin: 1em;
}

.key {
  color: #75bfff;
}

.click-text {
  color: #75bfff;
}

li {
  list-style: none;
}

li:hover {
  background: #222;
}

body > ul > li {
  padding: 5px 0;
}

.collapse .click-text::after,
.expand .click-text::after {
  margin-left: 5px;
  font-size: 0.8em;
  font-style: italic;
}

.collapse .click-text::after {
  content: "click to collapse";
}

.expand .click-text::after {
  content: "click to expand";
}

.boolean {
  color: #86de74;
}

.number {
  color: #86de74;
}

.string,
.loc {
  color: #ff7de9;
}
.string::before,
.string::after,
.loc::before,
.loc::after {
  content: '"';
}
